node_modules/
config.json
.gitbook/
gitbook/
build/
.vs/
.env
*.csv
cache/
artifacts/
.DS_Store
randomNotes.txt
cache
deployments/*
deployments/
cache/
artifacts-ovm/
cache-ovm/
.openzeppelin
.openzeppelin/
